.footer__container {
    height: 30px;
    display: flex;
    background-color:var(--header-background-color);
    flex: 0 0 auto;
    justify-content: flex-end;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    /*border-top: 1px solid lightgrey;*/
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/

}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7b7b7b;
    padding: 10px 20px;
}