.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    color: var(--main-font-color);
    background: var(--container-background-color);
    margin: 3px;
    width: 100%;
}

.formElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
    /*width: 100%;*/
    /*background-color: white;*/

}
.formElementStretch {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
    /*width: 100%;*/
    /*background-color: wheat;*/

}

.formInlineElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
}

.formLabel {
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}

.formField {
    width: 100%;
}

.formButton {
    /*appearance: none;*/
    color: var(--main-active-color);
    /*background:var(--container-background-color);*/
    /*border: 1px solid var(--container-border-color);*/
    border-radius: 10px;
    /*background: white;*/
    /*color: black;*/
    padding: 8px 16px;
    font-size: large;
    /* width: 50px; */
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

/*.formButton:disabled {*/
/*    color: grey;*/
/*}*/

/*.formButton:disabled:hover {*/
/*    background: white;*/
/*}*/

.formButton:hover {
    cursor: pointer;
}

.formSelect {
    color: var(--main-active-color);
    background-color: var(--container-background-color);
    font-size: large;
    padding: 5px;
    vertical-align: middle;
    min-width: 120px;
    max-width: 150px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid var(--main-active-color);
}

.formInput, .formDate {
    color: var(--main-active-color);
    background-color: var(--container-background-color);
    font-size: large;
    padding: 5px;
    vertical-align: middle;
    min-width: 120px;
    max-width: 150px;
    border: none;
    border-bottom: 1px solid var(--main-active-color);
}

.formSelect, .formInput, .formDate:focus {
    outline: none;
}

.formDate {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-calendar-picker-indicator {
    /*filter:invert(91%) sepia(80%) saturate(506%) hue-rotate(359deg) brightness(91%) contrast(89%);*/
    background-color: #dd5;
}
