.headerContainer {
    height: 60px;
    display: flex;
    background-color:var(--header-background-color);
    color:white;    
    flex: 0 0 auto;
    justify-content: flex-start;    
}
.headerButton{
    background-color:var(--header-background-color);
    color:#7b7b7b;
    font-size:48px;
    padding-left: 16px;
    border: 0;
}

