.loadingHandlerContainer{
    color: var(--main-active-color);
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.loadingHandlerHeader{
    padding: 10px 40px;
    text-align: center;
}

.loadingHandlerBarContainer{
    width: 360px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-active-color);
    background: repeating-linear-gradient(
            135deg,
            #dd5,
            #dd5 30px,
            transparent 30px,
            transparent 60px
    );
    animation:  animate-stripes 30s linear infinite;
}

@keyframes  animate-stripes {
    0%{
        background-position: 0 0;
    }
    100% {
        background-position: 10000px 0;
    }
}