.paginationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /*background-color: white;*/
    /*background-color: #34495E;*/
    background-color: #1d1d1d;
    /*color:#dd5;*/
    /*border: 1px solid gray;*/
    color:#ececec;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Montserrat;
    font-weight: 500;
}

.paginationElement {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
}

.paginationSubElement {
    padding: 10px;
    vertical-align: middle;
    font-size: 16px;
    /* background: yellow; */
}

.paginationButtonGroup {
    /*background-color: #34495E;*/
    background-color:#1d1d1d;
}

.paginationButton {
    appearance: none;
    /*background-color: #34495E;*/
    background-color: #1d1d1d;
    border: none;
    /*border-radius: 10px;*/
    /*background: white;*/
    /*color: black;*/
    /*color: wheat;*/
    color: #dd5;
    padding: 8px 16px;
    /*font-size: 16px;*/
    width: 50px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    font-weight:500;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.paginationButton:disabled {
    color: #1d1d1d;
    pointer-events: none;
}

/*.paginationButton:disabled:hover {*/
/*    !*color: grey;*!*/
/*    border: none;*/
/*}*/

.paginationButton:hover {
    cursor: pointer;
}
    /*background: lightgray;*/
    /*color: white;*/
    /*border: 1px solid wheat;*/


/*}*/

.paginationSelect {
    /*-webkit-appearance: none;*/
    font-size: large;
    background-color: #1d1d1d;

    box-shadow: none;
    color: #dd5;
    padding: 5px;
    vertical-align: middle;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;

}

.paginationSelect:focus{
    outline: none;
}

.paginationLabel{
    font-size: 16px;
    padding: 5px;
}

.paginationOption{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #1d1d1d;
    color: #dd5;
    border: #1d1d1d;
    outline: #1d1d1d;
}
.paginationOption:hover{
        background-color: #1d1d1d;

}