.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 0.4s;



}

.menu__active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 60px;
    left: 0;
    transform: translateX(0);
    
}

.blur {
    width:100vw;
    height: 100vh;    
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content{
    width: 30%;
    max-width: 350px;
    height: 100vh;
    background-color: #292929;
    transition: all 0.4s;
    font-family: 'Oswald', sans-serif;
}

.menu__ul{
    height: 100%;
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
}



.menu__ul a {
    color:#dd5;
    text-decoration: none;
    padding:10px;
    font-size: 24px;
}