.tableContainer {
    width:100%;    
    border-collapse: collapse;
    margin: 3px;
}

.tableTh {
    padding: 15px 10px 20px 10px;
    background-color: #1d1d1d;
    color:#dd5;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-size: 1em;
}

.tableTd {
    padding: 10px 12px;
    color:#ececec;
    text-align: center;
    font-weight:500;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.tableTdAlignLeft{
    padding: 10px 12px;
    color:#ececec;
    text-align: left;
    font-weight:500;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.tableTdSelect {
    padding: 10px 12px;
    color:#dd5;
    text-align: center;
    font-weight:500;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.tableTdAlignLeftSelect{
    padding: 10px 12px;
    color:#dd5;
    text-align: left;
    font-weight:500;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.tableButton {
    appearance: none;
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    color: black;
    padding: 5px 16px;
    font-size: 16px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.tableButton:disabled {
    color: grey;
}

.tableButton:disabled:hover {
    background: white;
}

.tableButton:hover {
    background: lightgray;
}

.tableLink{
    color:var(--main-active-color);
    text-decoration: none;
    padding: 5px 20px;
    cursor: pointer;
}