* {
    /* --header-footer-bg-color: #00897b; */
    /* --header-footer-bg-color: #dd2c00; */
    --header-footer-bg-color: #263238;
    --header-footer-hover-bg-color: rgb(10, 124, 86); 
    /* --header-footer-hover-bg-color: "#004d40"; */
    --header-footer-hover-color: white;
}

.header {
    height: 60px;
    display: flex;
    background-color: var(--header-footer-bg-color);
    color:"white";
    /* padding: 5px 0; */
    flex: 0 0 auto;
    justify-content: flex-end;    

}



.header_footer__span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--header-footer-bg-color);
    padding: 10px 20px;
}

.header_footer__a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--header-footer-bg-color);
    padding: 10px 20px;
    text-decoration: none;
}

.header_footer__a :hover {
    color: var(--header-footer-hover-color);
    background-color: var(--header-footer-hover-bg-color);

}