.loadingHandler{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
    /* background: rgba(0,0,0,0.4); */
}

.loadingHandlerContent{
    padding: 10px;
    background: white;    
    /* background:#b2dfdb; */
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    min-width: 800px;    
    min-height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.loadingHandler.active{
    display: flex;
    justify-content: center;
    align-items: center;
}