.menuItem {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.menuItem:hover {
    color: white;
}

.menuLabel {
    display: flex;
    align-items: stretch;
    gap: 20px;
}


.dropdown {
    overflow: hidden;
    margin-bottom: 20px;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown:hover {
    color: white;
}

.dropdownContent {
    display: none;
    padding-top: 10px;
    padding-left: 20px;
}

.dropdownContentList {

    padding-top: 10px;
    padding-left: 20px;
}


.dropdownContent.active {
    display: block;

}

.dropdownContentLink {
    float: none;
    color: #bdc3c7;
    padding: 5px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.7em;
}

.dropdownContentLink:hover {
    color: white;
}